*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner-image {
  background-image: url('../images/background0.jpg');
  background-size: cover;
}
.navbar-nav .nav-link {
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}